.navbar {
    position: sticky;
    background-color: #1b9e49;
    display: flex;
    margin: 0;
    top: 0;
    width: 100%;
    height: 100px;
    box-shadow: 5px 5px 10px #000000,
        -5px -5px 10px #bebebe;
    z-index: 1000;
}

.logodiv {
    margin-left: 1vw;
    display: flex;
}

.logodiv img {
    height: 100px;
    cursor: pointer;
}

.name {
    margin-top: -5px;
    color: #fff;
    margin-left: 20px;
    flex: 1;
    overflow: hidden;
}

.name h1,
.name p {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 600px) {
    .logodiv {
        flex-direction: column;
        align-items: flex-start;
    }

    .name {
        margin-top: 10px;
        overflow: visible;
    }
}

/* for nav bar */
.navdiv {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0;
    width: 100%;
    height: 120px;
}

/* for upperNav */
.upperNav {
    height: 40%;
    display: flex;
    flex-direction: column;
    padding-top: 3px;
}

.time {
    margin-right: 30vw;
}

.upperNav span {
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    transform: scale(1);
}

.upperNav span:hover {
    transform: scale(1.4);
}

.upperNav ul {
    list-style-type: none;
    align-self: flex-end;
    margin-top: -7px;
}

li {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
}

/* for lowernav */
.lowerNav {
    clip-path: polygon(60px 0, 100% 0, 100% 100%, 0 100%);
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 100%;
    height: 60px;
    margin-bottom: 0;
    align-self: flex-end;
    box-shadow: 5px 5px 10px #000000,
            -5px -5px 10px #bebebe;
}

.lowerNav ul {
    display: flex;
    justify-content: center;
    margin-left: 30px;
}

.lowerNav li {
    transition: .5s linear;
    margin-left: 10px;
}

.lowerNav li a {
    text-decoration: none;
    position: relative;
    color: #000000;
    text-transform: uppercase;
    font-size: 1rem;
}

.lowerNav li a:hover {
    color: rgb(27 158 73);
}

.lowerNav li a:after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -2px;
    background: rgb(36 36 36);
    transition: width .5s linear;
}

.lowerNav li a:hover:after {
    width: 100%;
}

.lowerNav .buttondiv {
    margin-left: auto;
    padding-right: 10px;
    margin-top: 14px;

}

.lowerNav button {
    margin-left: 10px;
}

.buttondiv a {
    color: #000;
    text-decoration: none;
}

.buttondiv a:hover {
    color: #ffffff;
    text-decoration: none;
}

.active {
    bottom: 3px;
    border-bottom: rgb(36 36 36) solid;
    color: rgb(27 158 73) !important;
}

@media only screen and (max-width: 1300px) {}