.notificationbar {
    color: #000000;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 7px;
    background: #ffffff;
    box-shadow: 3px 3px 5px #000000,
        -1px -1px 7px #000000;
    margin-top: 0;
    padding: 10px;
}

.text {
    animation: roll 30s linear infinite;
}

@keyframes roll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}