
.notificationcircle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

.notification-text {
    font-size: 20px;
    animation: slideNotification 5s infinite;
    /* Change the duration for auto-sliding */
}

@keyframes slideNotification {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(-200%);
    }

    75% {
        transform: translateY(-300%);
    }

    100% {
        transform: translateY(-400%);
    }
}