
.sli {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section1st{
    display: flex;
}

/*Timeline*/


.roadmap {
    position: relative;
    width: 100%;
    margin-top: 100px;
}

.roadmapheading {
    text-align: center;
    color: black;
    background: rgb(255, 255, 255);
    padding: 0.3em 0.5em;
    border-radius: 0.5em;
    box-shadow:
        inset 0.2em 0.2em 0.3em #a3b1c6;
    margin-bottom: 70px;
}

.roadmapitem {
    position: relative;
    margin: 20px;
    width: 30%;
    padding: 10px;
    left: 1%;
    min-height: 100px;
    border-radius: 21px;
    box-shadow:
        0.3em 0.3em 0.5em #a3b1c6;
    background-color: #ffffff;
}

.roadmapitem:nth-child(2n) {
    left: 54.2%;
}

.timelinedivider {
    position: absolute;
    height: 100%;
    width: 0;
    border: 20px dashed #0000006b;
    top: 0%;
    left: 43%;
}



html {
    font-size: 15px;
}

.roadmapitem::after {
    left: -12% !important;
    font-size: 15px;
}

.timelinetraveller {
    position: sticky;
    top: 30%;
    transform: rotate(90deg);
    z-index: 2;
}

.container {
    display: flex;
    width: 100%;
    margin-top: 200px;
    align-items: flex-start;
    flex-wrap: wrap;
    /* Changed flex-wrap to wrap to allow cards to wrap to the next line */
}

.container .card {
    margin: 20px;
    padding: 10px;
    max-width: 200px;
    width: 30%;
    border-radius: 11px;
    box-shadow: 0.3em 0.3em 0.5em #a3b1c6;
    background-color: #ffffff;
}

/* Tablet (landscape) */
@media only screen and (min-width: 768px) and (max-width: 1043px) {}

/* Tablet (portrait) */
@media only screen and (max-width: 768px) {
    .timelinedivider {
        Left: 0%;
    }

    .roadmapitem {
        left: 13% !important;
        width: 80%;
    }

        .container .card {
            width: 80%;
        }

}

/* Mobile */
@media only screen and (max-width: 480px) {}

