.sli {
    padding: 10px;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container .card {
    margin: 20px;
    padding: 10px;
    max-width: 250px;
    /* Set a maximum width for the card */
    width: 100%;
    /* Make the card take up 100% of the available width within the container */
    border-radius: 11px;
    background: #ffffff;
    box-shadow: 5px 5px 7px #666666;
}