.aside2 {
    position: fixed;
    top: 25%;
    left: 0;
    z-index: 2;
    overflow-x: hidden;
}

.speech {
    height: 70px;
    width: 30px;
    background-color: #1b9e49;
    position: relative;
    margin-bottom: 1px;
    cursor: pointer;
    transition: linear 0.3s;
    border-radius: 0 7px 7px 0;
    border: solid 2px white;
    border-left: 0;
    padding-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.dialog {
    background-color: #1b9e49;
    border: solid 2px white;
    border-radius: 7px;
    padding: 10px;
    margin-left: 40px;
    margin-top: -60px;
}